body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.6;
    color: #555555;
  }
.first-row {
	margin-top: 0;
	margin-bottom: 30px;
}

.row {
	margin-top: 30px;
	margin-bottom: 30px;
}

.itiau-logo {margin: 10px auto; padding:0;}

h1 {
  	word-wrap: break-word;
  	font-size: 2.6em;
  	letter-spacing: -0.04em;
/*
  	padding-left: 180px;
  	background-image: url("/images/g4602.png");
  background-repeat: no-repeat;
  background-size: contain;
*/
  }
h2 {
	font-size: 1.3em;
  	letter-spacing: 0.02em;
	margin-top: 40px;
	margin-bottom: 20px;
	}

p {
  	/* letter-spacing: -0.01em; */
	}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
.navbar-nav  li a:hover {
    color: #337ab7 !important;
  }
p.article-author {font-size: 18px; margin-top:30px;}  
p.abstract, p.keywords {font-size: 16px; margin-bottom:10px;}
p.abstract::first-letter {text-transform: uppercase;}

.pubdate {float:right;}
.margin-down {margin-bottom: 50px;}
.margin20 {margin: 20px 20px 20px 0;}

.bg-blue {background-color: #337ab7;}
.bg-light-grey {background-color: #f8f8f8;}
.bg-dark {background-color: #363636;}
.fg-white {color: white;}
.fg-white a {text-decoration: underline;}

div.committee ul {list-style-type: none;}
div.committee ul li {margin-top: 20px;margin-bottom: 20px;}
